<header class="header">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-end">
                <a href="#" class="burger-btn" data-js="burger-btn">
                    <span></span>
                </a>
            </div>
            <div class="col d-flex align-items-end justify-content-center">
                <a href="#" class="logo" data-aos="fade-up">
                    <img src="assets/img/logo.png" alt="logo" class="img-fluid img-white">
                    <img src="assets/img/logo-dark-screen.png" alt="logo" class="img-fluid img-dark">
                </a>
            </div>
            <div class="col d-flex align-items-end justify-content-end">
                <ul class="contacts-list">
                    <li class="d-none d-lg-block d-xl-inline-block"><a href="mailto:manager@aventin.com.ua"><i class="icon icon-mail"></i> manager@aventin.com.ua</a></li>
                    <li class="d-none d-lg-block d-xl-inline-block"><a href="tel:+380322610320"><i class="icon icon-phone"></i> +38 (032) 261 03 20</a></li>
                    <li class="d-inline-block d-lg-none"><a href="#"><i class="icon icon-facebook"></i></a></li>
                    <li class="d-inline-block d-lg-none"><a href="#"><i class="icon icon-insta"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<nav class="main-menu position-fixed">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <ul>
                    <li>
                        <a href="#">
                            Головна
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Чому ми?
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Послуги
                        </a>
                        <ul>
                            <li><a href="#">Перукарські послуги</a></li>
                            <li><a href="#">Візаж</a></li>
                            <li><a href="#">Послуги манікюру та педикюру</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            Наша команда
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Магазин
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Ми в Instagram
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>