<section class="screen screen--white" id="price">
    <div class="container">
        <div class="row justify-content-center mt-0">
            <div class="col-12 col-sm-11 col-lg-10">
                <div class="section-title" data-aos="fade-right">
                    <h2>Оберіть послугу</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-11">
                <div class="row">
                    <!-- Prices item -->
                    <div class="col-12 col-lg-6">
                        <div class="prices-item mt-4 mb-4" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">
                            <div class="prices-item__inner h-100 p-4">
                                <div class="info m-auto">
                                    <h5>Стрижки</h5>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Модельна жіноча (без миття)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Креативна (без миття)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Підліткова</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>"Гарячими ножницями"</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Корекція / НОТ120 /</span>
                                        <span>150</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Prices item -->
                    <!-- Prices item -->
                    <div class="col-12 col-lg-6">
                        <div class="prices-item mt-4 mb-4" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
                            <div class="prices-item__inner h-100 p-4">
                                <div class="info m-auto">
                                    <h5>Колоруваня (без укладки)</h5>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Модельна жіноча (без миття)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Креативна (без миття)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Підліткова</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>"Гарячими ножницями"</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Корекція / НОТ120 /</span>
                                        <span>150</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Prices item -->
                    <!-- Prices item -->
                    <div class="col-12 col-lg-6">
                        <div class="prices-item mt-4 mb-4" data-aos="fade-down" data-aos-duration="500" data-aos-delay="400">
                            <div class="prices-item__inner h-100 p-4">
                                <div class="info m-auto">
                                    <h5>Моделювання</h5>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Укладка "Loreal" / "Kerastase"</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Стрижка + укладка L/K</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Stam pod (вирівнювання)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Olaplex (Відновлення волосся)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Зачіска вечірня / Весільна від</span>
                                        <span>150</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Prices item -->
                    <!-- Prices item -->
                    <div class="col-12 col-lg-6">
                        <div class="prices-item mt-4 mb-4" data-aos="fade-down" data-aos-duration="500" data-aos-delay="500">
                            <div class="prices-item__inner h-100 p-4">
                                <div class="info m-auto">
                                    <h5>Кондиціонування, лікування</h5>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Укладка "Loreal" / "Kerastase"</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Стрижка + укладка L/K</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Stam pod (вирівнювання)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Olaplex (Відновлення волосся)</span>
                                        <span>150</span>
                                    </a>
                                    <a href="#" class="d-flex justify-content-between">
                                        <span>Зачіска вечірня / Весільна від</span>
                                        <span>150</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Prices item -->
                </div>    
            </div>
        </div>
    </div>
</section>