<section class="screen screen--white pt-4 pt-lg-0">
    <div class="container">
        <div class="row justify-content-center mt-0">
            <div class="col-12 col-sm-11 col-lg-10">
                <div class="section-title" data-aos="fade-right">
                    <h2>Перукарські послуги</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-lg-7">
                        <div class="section-title-after" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">
                            <small>Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення волосся), послуги манікюру і педікюру (нарощування, художній та святковий манікюр), візаж (святковий, весільний.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-11">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="d-flex justify-content-between">
                            <div class="service-photo-1" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">
                                <div class="front-side" style="background-image: url(assets/img/service-image-1.jpg);"></div>
                            </div>
                            <div class="service-photo-2" data-aos="fade-right" data-aos-duration="500" data-aos-delay="400">
                                <div class="front-side" style="background-image: url(assets/img/service-image-2.jpg);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="d-flex justify-content-between service-desc-wraper">
                            <div class="service-desc mt-3 mb-3 p-2" data-aos="fade-down" data-aos-duration="500" data-aos-delay="500">
                                <h4>Cтрижка и укладка</h4>
                                <p>Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення</p>
                            </div>
                            <div class="service-desc mt-3 mb-3 p-2"data-aos="fade-down" data-aos-duration="500" data-aos-delay="550">
                                <h4>Моделювання</h4>
                                <p>Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення</p>
                            </div>
                            <div class="service-desc mt-3 mb-3 p-2"data-aos="fade-down" data-aos-duration="500" data-aos-delay="600">
                                <h4>Колоруваня (без укладки)</h4>
                                <p>Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення</p>
                            </div>
                            <div class="service-desc mt-3 mb-3 p-2"data-aos="fade-down" data-aos-duration="500" data-aos-delay="650">
                                <h4>Кондиціонування лікування</h4>
                                <p>Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>