<section class="screen first-screen">
    <div class="first-screen-slider position-relative">
        <div class="first-screen-slider__slide">
            <div class="container">
                <div class="row">
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <div data-aos="zoom-out" data-aos-duration="3000">
                            <h2>
                                ТЕРИТОРІЯ<br>СТВОРЕННЯ<br>ТВОГО СТИЛЮ
                            </h2>
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-end">
                        <img src="assets/img/slider-1-slide-1.png" alt="slide-1" class="img-fluid" data-aos="zoom-in-left" data-aos-duration="3000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>