<section class="screen screen--dark first-screen">
    <div class="bg-lines-layer" data-aos="fade-left"></div>
    <div class="container h-100">
        <div class="row h-100 first-screen-row justify-content-center align-items-center" data-aos="fade-in">
            <div class="col-auto">
                <h2>
                    ТЕРИТОРІЯ
                    <br>СТВОРЕННЯ
                    <br>ТВОГО СТИЛЮ
                </h2>
            </div>
        </div>
    </div>
</section>