<section class="screen screen--dark special-pt">
    <div class="container">
        <div class="row justify-content-center mt-0 mt-xl-3">
            <div class="col-12 col-sm-10">
                <div class="section-title" data-aos="fade-right">
                    <h2>Чому ми?</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="section-title-after" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">
                            <small>
                                Бо любов до своєї справи, техніки відпрацьовані до найвищого рівня майстерності та невпинне бажання творити красу й робити наших клієнтів щасливими перетворюють “Авентін”на один з кращих салонів краси Львова.
                                <br><br>
                                Ми належимо до престижної групи Salon Expert. Цей ексклюзивний статус нам надала компанія Loreal Professional за досконалу якісь послуг, постійне вдосконалення технік, оновлення інструментів та професіоналізм творчих майстрів. 
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-0 mt-xl-5">
            <div class="col-12 col-sm-10">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="why-we-teaser d-flex h-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
                            <div class="why-we-teaser__title">
                                <h4>
                                    <span>14 років досвіду </span>
                                    <span>
                                        в б’юті-індустрії та бездоганне обслуговування клієнтів.
                                    </span>
                                </h4>
                            </div>
                            <div class="why-we-teaser__photo" style="background-image: url(assets/img/why-we-bw-1.jpg)">
                                <div class="col-photo d-block" style="background-image: url(assets/img/why-we-col-1.jpg)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="why-we-teaser d-flex h-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
                            <div class="why-we-teaser__title">
                                <h4>
                                    <span>Команда професійних, креативних майстрів,</span>
                                    <span>
                                        які постійно розвивають свої таланти.
                                    </span>
                                </h4>
                            </div>
                            <div class="why-we-teaser__photo" style="background-image: url(assets/img/why-we-bw-2.jpg)">
                                <div class="col-photo d-block" style="background-image: url(assets/img/why-we-col-2.jpg)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="why-we-teaser d-flex h-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300">
                            <div class="why-we-teaser__title">
                                <h4>
                                    <span>Інструменти нового покоління</span>
                                    <span>
                                        та професійна косметика кращих світових брендів.
                                    </span>
                                </h4>
                            </div>
                            <div class="why-we-teaser__photo" style="background-image: url(assets/img/why-we-bw-3.jpg)">
                                <div class="col-photo d-block" style="background-image: url(assets/img/why-we-col-3.jpg)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="why-we-teaser d-flex h-100" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400">
                            <div class="why-we-teaser__title">
                                <h4>
                                    <span>Тисячі стильних образів </span>
                                    <span>
                                        та щасливих, задоволених клієнтів
                                    </span>
                                </h4>
                            </div>
                            <div class="why-we-teaser__photo" style="background-image: url(assets/img/why-we-bw-4.jpg)">
                                <div class="col-photo d-block" style="background-image: url(assets/img/why-we-col-4.jpg)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>