<section class="screen">
    <div class="container">
        <div class="row justify-content-center mt-0 mt-lg-3">
            <div class="col-12 col-sm-10">
                <div class="section-title" data-aos="fade-right">
                    <h2>Послуги</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-end mt-4">
            <div class="col-12 col-sm-11">
                <div class="row">
                    <div class="col-12">
                        <div class="services-slider" data-js="services-slider" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                            {{#services-slides}}
                            <div class="services-slider__slide">
                                <div class="row">
                                    <div class="col-12 col-md-5 col-xl-6 text-right">
                                        <div class="front-image-wraper">
                                            <img src="{{img-src-1}}" alt="image" class="img-fluid position-relative">
                                        </div>
                                        <img src="{{img-src-2}}" alt="image" class="img-fluid back-image position-relative">
                                    </div>
                                    <div class="col-12 col-md-7 col-xl-6">
                                        <h4>Перукарські послуги</h4>
                                        <blockquote>
                                            Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення волосся), послуги манікюру і педікюру (нарощування, художній та святковий манікюр), візаж (святковий, весільний.
                                            <br><br>
                                            Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення волосся), послуги манікюру і педікюру (нарощування, художній та святковий манікюр), візаж (святковий, весільний.
                                            <br><br>
                                            Для Гостей пропонується тільки найкращі перукарські послуги (від стрижки до лікування та відновлення волосся), послуги манікюру і педікюру (нарощування, художній та святковий манікюр), візаж (святковий, весільний.
                                        </blockquote>
                                        <div class="text-right mt-3">
                                            <a href="#" class="detail-btn">Детальніше</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/services-slides}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <a href="#" class="take-service-btn">Обрати послугу</a>
            </div>
        </div>
    </div>
</section>