<section class="screen screen--white">
    <div class="container">
        <div class="row justify-content-center mt-0 mt-lg-3">
            <div class="col-12 col-sm-10">
                <div class="section-title" data-aos="fade-right">
                    <h2>Промо відео</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-10">
                <div class="d-flex justify-content-center middle-row position-relative" data-js="middle-row">
                    <div class="bg-circle bg-circle-outer position-absolute" data-aos="flip-left" data-aos-delay="300" data-aos-duration="1000" data-js="bg-circle"></div>
                    <div class="bg-circle bg-circle-inner position-absolute" data-aos="flip-up" data-aos-delay="400" data-aos-duration="1000" data-js="bg-circle"></div>
                    <div class="align-self-center video-wraper position-relative" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
                        <iframe src="https://www.youtube.com/embed/fYmwx-IJA6M?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>