<section class="screen screen--white">
    <div class="container">
        <div class="row justify-content-center mt-0 mt-lg-3">
            <div class="col-12 col-sm-10">
                <div class="section-title" data-aos="fade-right">
                    <h2>Партнери</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center middle-row position-relative" data-js="middle-row">
            <div class="bg-circle bg-circle-outer position-absolute" data-aos="flip-left" data-aos-delay="300" data-aos-duration="1000" data-js="bg-circle"></div>
            <div class="bg-circle bg-circle-inner position-absolute" data-aos="flip-up" data-aos-delay="400" data-aos-duration="1000" data-js="bg-circle"></div>
            <div class="col-12 col-sm-10 align-self-center">
                <div class="row">
                    <div class="col-12">
                        <div class="current-section-bg partner-slider" data-js="partner-slider" data-aos="fade-in" data-aos-duration="500" data-aos-delay="200">
                            {{#partner-slides}}
                            <div class="partner-slider__slide" data-aos="fade-in" data-aos-duration="300" data-aos-delay="{{delay}}">
                                <a href="#" class="partner-wraper">
                                    <img src="assets/img/{{photo-name}}.png" alt="product" class="img-fluid">
                                </a>
                            </div>
                            {{/partner-slides}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>