<section class="screen screen--dark screen__inner-last">
    <div class="container special-container">
        <div class="row mt-0 mt-lg-5 justify-content-end align-items-center">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>Де знаходимось?</h2>
                </div>
                <ul class="footer-contacts-list" data-aos="fade-down" data-aos-delay="300" data-aos-duration="1000">
                    <li class="footer-contacts-list__mail">
                        <a href="mailto:contact@etalon-theme.com">contact@etalon-theme.com</a>
                    </li>
                    <li class="footer-contacts-list__phone">
                        <a href="tel:+380322610320">+38 (032) 261 03 20</a>
                    </li>
                    <li class="footer-contacts-list__place">
                        <a href="tel:+380322610320">Вулиця Дорошенка 63<br>Львів, Львівська область</a>
                    </li>
                    <li class="footer-contacts-list__place">
                        <a href="tel:+380322610320">Вулиця Дорошенка 63<br>Львів, Львівська область</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-7 mt-3 mt-lg- mt-xl-0">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>